In [2]:
import pandas as pd
import os

In [3]:
file = 'Population_Data.csv'
pop_read = pd.read_csv(file)
pop_read

,County,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Alameda County,1491482,1513043,1530998,1554138,1580247,1608674,1634634,1650306,1658131,1666753
1,El Dorado County,178447,181133,180918,180578,181497,183161,184660,186082,188722,190678
2,Kern County,807407,841072,848140,853963,862557,869957,877197,882361,888988,896764
3,Los Angeles County,9848011,9822433,9876727,9938436,9998105,10048408,10097037,10120540,10118759,10105518
4,Merced County,245321,256732,259333,260971,262198,264649,266651,267971,271340,274765
5,Napa County,134650,136808,137750,138625,139706,140567,141096,141185,140386,139417
6,Orange County,3026786,3016559,3050867,3080419,3108009,3130322,3153962,3170707,3179950,3185968
7,Sacramento County,1400949,1421414,1433739,1445078,1457750,1475618,1494294,1511510,1527718,1540975
8,San Diego County,3053793,3103306,3137372,3175201,3211248,3250993,3284061,3310280,3325468,3343364
9,San Mateo County,718989,719725,728404,739427,749013,757670,765447,768204,768808,769545
10,Santa Barbara County,407057,424235,425481,429825,434823,439358,442522,444675,445606,446527
11,Sierra County,3191,3221,3099,3067,3029,2980,2996,2957,3009,2987
12,Sonoma County,472102,484776,487423,490071,494243,498803,501346,503249,503246,499942
13,Ventura County,802983,825130,830196,833801,838601,842946,846922,848921,850802,850967
14,Yuba County,72925,72350,72492,72792,73114,73562,74083,75002,76775,78041

In [5]:
file2 = 'vaccine-preventable-disease-cases-by-county-and-year-2.csv'
vac_read = pd.read_csv(file2)
vac_read

                         disease    county  year  count
0                     Diphtheria   Alameda  2001      0
1                     Diphtheria   Alameda  2002      0
2                     Diphtheria   Alameda  2003      0
3                     Diphtheria   Alameda  2004      0
4                     Diphtheria   Alameda  2005      0
5                     Diphtheria   Alameda  2006      0
6                     Diphtheria   Alameda  2007      0
7                     Diphtheria   Alameda  2008      0
8                     Diphtheria   Alameda  2009      0
9                     Diphtheria   Alameda  2010      0
10                    Diphtheria   Alameda  2011      0
11                    Diphtheria   Alameda  2012      0
12                    Diphtheria   Alameda  2013      0
13                    Diphtheria   Alameda  2014      0
14                    Diphtheria   Alameda  2015      0
15                    Diphtheria   Alameda  2016      0
16                    Diphtheria   Alameda  2017      0
17                    Diphtheria    Alpine  2001      0
18                    Diphtheria    Alpine  2002      0
19                    Diphtheria    Alpine  2003      0
20                    Diphtheria    Alpine  2004      0
21                    Diphtheria    Alpine  2005      0
22                    Diphtheria    Alpine  2006      0
23                    Diphtheria    Alpine  2007      0
24                    Diphtheria    Alpine  2008      0
25                    Diphtheria    Alpine  2009      0
26                    Diphtheria    Alpine  2010      0
27                    Diphtheria    Alpine  2011      0
28                    Diphtheria    Alpine  2012      0
29                    Diphtheria    Alpine  2013      0
...                          ...       ...   ...    ...
7640  Varicella Hospitalizations  Tuolumne  2012      0
7641  Varicella Hospitalizations  Tuolumne  2013      1
7642  Varicella Hospitalizations  Tuolumne  2014      0
7643  Varicella Hospitalizations  Tuolumne  2015      0
7644  Varicella Hospitalizations  Tuolumne  2016      0
7645  Varicella Hospitalizations  Tuolumne  2017      0
7646  Varicella Hospitalizations   Ventura  2010      0
7647  Varicella Hospitalizations   Ventura  2011      0
7648  Varicella Hospitalizations   Ventura  2012      0
7649  Varicella Hospitalizations   Ventura  2013      0
7650  Varicella Hospitalizations   Ventura  2014      0
7651  Varicella Hospitalizations   Ventura  2015      0
7652  Varicella Hospitalizations   Ventura  2016      2
7653  Varicella Hospitalizations   Ventura  2017      0
7654  Varicella Hospitalizations      Yolo  2010      0
7655  Varicella Hospitalizations      Yolo  2011      1
7656  Varicella Hospitalizations      Yolo  2012      0
7657  Varicella Hospitalizations      Yolo  2013      0
7658  Varicella Hospitalizations      Yolo  2014      0
7659  Varicella Hospitalizations      Yolo  2015      0
7660  Varicella Hospitalizations      Yolo  2016      0
7661  Varicella Hospitalizations      Yolo  2017      0
7662  Varicella Hospitalizations      Yuba  2010      0
7663  Varicella Hospitalizations      Yuba  2011      0
7664  Varicella Hospitalizations      Yuba  2012      0
7665  Varicella Hospitalizations      Yuba  2013      0
7666  Varicella Hospitalizations      Yuba  2014      0
7667  Varicella Hospitalizations      Yuba  2015      1
7668  Varicella Hospitalizations      Yuba  2016      0
7669  Varicella Hospitalizations      Yuba  2017      0

[7670 rows x 4 columns]