In [17]:
%matplotlib inline 
from scipy import stats
import matplotlib.pyplot as plt 
import pandas as pd 
import numpy as np

In [18]:
vaccine_data_to_load = "vaccine-preventable-disease-cases-by-county-and-year-2.csv" 


#Read the Mouse and Drug Data and the Clinical Trial Data
Vax_Data = pd.read_csv("vaccine-preventable-disease-cases-by-county-and-year-2.csv") 
print(Vax_Data.iloc[:,1].unique())

['Alameda' 'Alpine' 'Amador' 'Butte' 'Calaveras' 'California' 'Colusa'
 'Contra Costa' 'Del Norte' 'El Dorado' 'Fresno' 'Glenn' 'Humboldt'
 'Imperial' 'Inyo' 'Kern' 'Kings' 'Lake' 'Lassen' 'Los Angeles' 'Madera'
 'Marin' 'Mariposa' 'Mendocino' 'Merced' 'Modoc' 'Mono' 'Monterey' 'Napa'
 'Nevada' 'Orange' 'Placer' 'Plumas' 'Riverside' 'Sacramento' 'San Benito'
 'San Bernardino' 'San Diego' 'San Francisco' 'San Joaquin'
 'San Luis Obispo' 'San Mateo' 'Santa Barbara' 'Santa Clara' 'Santa Cruz'
 'Shasta' 'Sierra' 'Siskiyou' 'Solano' 'Sonoma' 'Stanislaus' 'Sutter'
 'Tehama' 'Trinity' 'Tulare' 'Tuolumne' 'Ventura' 'Yolo' 'Yuba']

In [21]:
#dd_drop = Vax_Data.groupby("disease").first()
#dd_drop.drop(["Diphtheria","Hepatitis A", "Hepatitis B, Acute", "Hepatitis C, Acute", "Invasive Meningococcal Disease", "Rubella", "Varicella Hospitalizations"])
dd = Vax_Data.set_index("disease")
dd_drop = dd.drop(["Diphtheria","Hepatitis A", "Hepatitis B, Acute", "Hepatitis C, Acute", "Invasive Meningococcal Disease", "Rubella", "Varicella Hospitalizations"])
dd_drop = dd_drop.reset_index()
dd_drop_counties = dd_drop.set_index("county")

dd_complete_4 = dd_drop_counties.drop([ 'Alpine', 'Amador', 'Butte', 'Calaveras', 'California', 'Colusa',
 'Contra Costa', 'Del Norte', 'El Dorado', 'Fresno', 'Glenn' ,'Humboldt',
 'Imperial', 'Inyo', 'Kern' ,'Kings' ,'Lake' ,'Lassen', 'Madera',
 'Marin', 'Mariposa', 'Mendocino', 'Merced', 'Modoc', 'Mono', 'Monterey', 'Napa',
 'Nevada' ,'Orange', 'Placer' ,'Plumas', 'Riverside', 'Sacramento' ,'San Benito',
 'San Bernardino', 'San Diego' ,'San Francisco', 'San Joaquin',
 'San Luis Obispo', 'San Mateo', 'Santa Barbara' ,'Santa Clara' ,'Santa Cruz',
 'Shasta' ,'Sierra', 'Siskiyou' ,'Solano' ,'Stanislaus', 'Sutter',
 'Tehama', 'Trinity', 'Tulare', 'Tuolumne', 'Ventura' ,'Yolo'])
dd_complete_4 = dd_complete_4.reset_index()

dd_complete_15 = dd_drop_counties.drop([ 'Alpine', 'Amador', 'Butte', 'Calaveras', 'California', 'Colusa',
 'Contra Costa', 'Del Norte', 'Fresno', 'Glenn' ,'Humboldt',
 'Imperial', 'Inyo', 'Kings' ,'Lake' ,'Lassen', 'Madera',
 'Marin', 'Mariposa', 'Mendocino', 'Modoc', 'Mono', 'Monterey',
 'Nevada' , 'Placer' ,'Plumas', 'Riverside' ,'San Benito',
 'San Bernardino' ,'San Francisco', 'San Joaquin',
 'San Luis Obispo' ,'Santa Clara' ,'Santa Cruz',
 'Shasta' , 'Siskiyou' ,'Solano' ,'Stanislaus', 'Sutter',
 'Tehama', 'Trinity', 'Tulare', 'Tuolumne' ,'Yolo'])
dd_complete_15 = dd_complete_15.reset_index()

print(dd_complete_4.head())
dd_complete_15["county"].unique()
dd_complete_15["disease"].unique()

    county  disease  year  count
0  Alameda  Measles  2001      1
1  Alameda  Measles  2002      0
2  Alameda  Measles  2003      2
3  Alameda  Measles  2004      0
4  Alameda  Measles  2005      0

array(['Measles', 'Mumps', 'Pertussis', 'Tetanus'], dtype=object)

In [47]:
dd_complete_15.head()

    county  disease  year  count
0  Alameda  Measles  2001      1
1  Alameda  Measles  2002      0
2  Alameda  Measles  2003      2
3  Alameda  Measles  2004      0
4  Alameda  Measles  2005      0

In [76]:
piv_counties = counties.pivot_table("count",["county","disease"],"year")
piv_counties.head()

year                 2001  2002  2003  2004   2005   2006  2007  2008  2009  \
county    disease
Alameda   Measles     1.0   0.0   2.0   0.0    0.0    1.0   0.0   0.0   0.0
          Mumps       NaN   NaN   NaN   NaN    NaN    NaN   NaN   NaN   NaN
          Pertussis  20.0  45.0  44.0  84.0  122.0  126.0  51.0  51.0  37.0
          Tetanus     1.0   0.0   0.0   0.0    1.0    0.0   1.0   0.0   0.0
El Dorado Measles     0.0   0.0   0.0   0.0    0.0    0.0   0.0   0.0   0.0

year                  2010   2011  2012   2013   2014   2015  2016   2017
county    disease
Alameda   Measles      2.0    1.0   0.0    1.0    6.0    6.0   0.0    0.0
          Mumps        1.0   26.0   1.0    1.0    1.0    0.0   8.0   10.0
          Pertussis  436.0  209.0  68.0  137.0  419.0  189.0  81.0  123.0
          Tetanus      0.0    0.0   0.0    0.0    0.0    0.0   0.0    1.0
El Dorado Measles      0.0    0.0   0.0    0.0    0.0    0.0   0.0    0.0

In [ ]:
#set nan to zero, create bar chart